/*Footer*/
#footer{
    background-color: #171717;
    height: 227px;
    width: 1261px;
}
#list li{
    text-transform: uppercase;
    list-style: none;
    float: left;
}
#list li a{
    text-decoration: none;
    color: white;
    margin-left: 60px;
    width: 50px;
}
#list li + li{
    margin-left: 0px;
}
#list ul{
    margin: 0;
    padding: 0;
    margin-left: 300px;
    padding-top: 35px;
}
#facebook img{
    margin-left: 600px;
}
#copyright{
    margin-left: 390px;
}