#header{
    background-color: black;
    height: 105px;
    margin: 0;
}
#iconos{
    width: 113px;
    height: 40px;
    padding-left: 100px;
    padding-top: 25px;
}
#list ul{
    margin:0;
}
#list li{
    float:right;
    width: 150px;
    list-style: none;
    text-transform: uppercase;
    padding: 0;
}
#list li a + li a{
    margin-left: 20px;
}
#list li a{
    text-decoration: none;
    color: white;
}
#portada img{
    width: 100%;
    max-width: 100%;
}
#img img{
    width: 25%;
    height: 20%;
    margin-left: 40px;
    margin-right: 0;
}