/*Img Paquetes*/
h2{
    text-align: center;
    color: black;
    margin: 50px;
}
#img-paquetes{
    width: 1261px;
    height: 700px;
}
#barco1{
    width: 28%;
    height: 38%;
    position: absolute;
    margin-left: 70px;
    top: 700px;
}
#barco2{
    width: 28%;
    height: 38%;
    position: absolute;
    margin-left: 70px;
    top:990px
}
#sele1{
    width: 28%;
    height: 38%;
    position: absolute;
    margin-left:466px;
    top: 700px;
}
#sele2{
    width: 28%;
    height: 38%;
    position: absolute;
    margin-left:466px;
    top: 990px;
}
#hotel1{
    width: 28%;
    height: 38%;
    position: absolute;
    margin-left: 860px;
    top: 700px;
}
#hotel2{
    width: 28%;
    height: 38%;
    position: absolute;
    margin-left: 860px;
    top: 990px;
}
