#titulo{
    text-align: center;
    margin: 60px;
}
#box img{
    width: 100%;
}
#box2{
    padding-left:600px ;
}
#box2 h1{
    text-transform: uppercase;
    text-align: left;
}
#box2 p{
    width: 500px;
    text-align: left;
}